.jumbotron
{
	background-image:url('background.jpg');
	background-attachment:fixed;
	min-height: 335px;
	margin-bottom:0px;
	color:red;
	font-size:100px;
}

.sec1
{
	background:#f04f43;
	min-height:700px;
	text-align: center;
}

.sec2
{
	background:#541a16;
	min-height:50px;
	text-align: center;
}

.padding
{
padding-top:20px;
padding-bottom:25px;
}

.padding_top
{
	padding-top:20px;
}

/*.chicken
{
	height: 200px;
	width:100px:
